@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> <em>Welcome To the EventEase Venue Booking System</em></h1>
    <h1>--------------------------------------------------------</h1>
</div>
