@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<br />
<br />

<h4>What data we collect and how we use it:</h4>

<p>
    We collect personal information from you when you make a booking, or contact us for support.
    This information may include your name, email address, phone number, and payment details.
    We use this information to provide our services, process your bookings, and communicate with you.
</p>
<br />
<br />
<br />


<h4>Methods of Collection:</h4>

<p>
    We collect data through direct interactions.
    You may provide us with your personal information by contacting our receptionist who shall enter your bookings in our database.
</p>
<br />
<br />
<br />


<h4>Customer Communication:</h4>

<p>We may contact you via email or phone to confirm your booking, provide updates, or respond to your inquiries.</p>
<br />
<br />
<br />


<h4>Redress and Security Information:</h4>

<p>
    We take the security of your personal information seriously. We implement appropriate technical and organizational measures to protect your data from unauthorized access, loss, or misuse.
    If you have any concerns about the security of your personal information, please contact us immediately.
</p>
<br />
<br />
<br />



<h4>Future Changes:</h4>

<p>
    We may update this privacy policy from time to time. We will notify you of any changes by posting the new policy on our website.
    You are advised to review this policy periodically for any changes.
</p>
<br />
<br />
<br />


<h4>Contact Information:</h4>

<p>
    If you have any questions or concerns, please contact us at:
    <br />
    Phone number: +27 714 546 920  <br />
    Email Address: eventease@gmail.com
</p>


